body,
h1,
h2,
h3,
p,
label,
.panel-title > a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
h1 {
  font-size: 2.3em;
  margin: 35px 0;
}
h2 {
  font-size: 23px;
  padding: .8em 1.8em .5em 1.8em;
}
a {
  color: #3f6075;
}
header {
  background: #14364c;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 19px;
  height: 3px;
  border-radius: 1px;
}
.skts-cookieouter {
  max-width: 100%;
  background: #000;
  padding: 1em;
}
.navbar-nav li a.active {
  color: grey;
  text-decoration: none;
}
.navbar-nav li a.active:hover {
  color: grey;
}
.navbar-default .navbar-nav > li.active > a {
  text-decoration: none;
  color: #b5b5b5;
}
.navbar-default {
  background-color: #14364c;
}
a.skts-toggle-section {
  color: #14364C;
  display: block;
  background: url(../images/not-selected-icon.svg) no-repeat 2.3em 1.7em #D9E7EE;
  text-indent: 3.5em;
  line-height: 4em;
  padding: 0.65em 2.3em;
  -webkit-transition: background 300ms ease;
  -moz-transition: background 300ms ease;
  -ms-transition: background 300ms ease;
  -o-transition: background 300ms ease;
  transition: background 300ms ease;
}
.skts-login {
  color: white;
  background-image: url(../images/ikoner/ikon-log-ud--hvid.svg);
}
.skts-login:hover,
.skts-login:focus {
  color: white;
}
a.skts-toggle-section:hover {
  background: url(../images/not-selected-icon.svg) no-repeat 2.3em 1.7em #8DBAD0;
}
a.skts-toggle-section.selected {
  background: url(../images/selected-icon.svg) no-repeat 2.3em 1.9em #D9E7EE;
  -webkit-transition: background 300ms ease;
  -moz-transition: background 300ms ease;
  -ms-transition: background 300ms ease;
  -o-transition: background 300ms ease;
  transition: background 300ms ease;
}
a.skts-toggle-section.selected:hover {
  background: url(../images/selected-icon.svg) no-repeat 2.3em 1.9em #8DBAD0;
}
moms-section-icon {
  background: red;
}
.selected > .moms-section-icon {
  background: green;
}
.breadcrumb {
  padding: 20px 0;
  margin-bottom: 22px;
  list-style: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  line-height: 28px;
  border-bottom: 1px solid #A7A7A7;
  border-top: 1px solid #A7A7A7;
}
.breadcrumb > li {
  color: #A7A7A7;
  font-size: 10px;
}
.breadcrumb > li + li:before {
  content: url(../images/breadcrumb_arrow.png);
}
.skts-cookieinner {
  width: auto;
}
.btn {
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.skts-btn-nemid:focus,
.skts-btn-nemid:hover,
.skts-btn-nemid:focus,
.skts-btn-nemid:hover,
.btn.btn-primary:hover {
  background: #FF5C00;
  color: #000;
}
.navbar-nav li {
  border-right: none;
  padding: 0;
}
lu li {
  line-height: 3.3em;
  list-style: none;
}
lu li a:hover {
  text-decoration: none;
  color: #000;
}
.panel-body {
  background: #D9E7EE;
  margin: 1.3em 0;
  padding: 1.3em;
}
.skts-btn-nemid {
  background: linear-gradient(135deg, #ffc200 40%, #ff8500 100%);
  border: 0;
  font-size: 18px;
  color: #000;
  text-decoration: none;
  font-weight: 400;
  border-radius: 0;
  padding: 20px;
}
.btn.btn-primary.skts-validate {
  margin: 0;
}
.skts-icon-right-open-big {
  text-decoration: underline;
  margin-top: 1.3em;
  padding: 0;
}
.skts-icon-right-open-big:before {
  content: none;
}
h2.pull-left {
  margin-bottom: 0;
}
.skts-process-form-section.skts-required p {
  background: #FFF;
  margin-top: 2em;
  padding: 1.3em;
}
.navbar-toggle {
  border: none;
  border-radius: 0;
  color: #FFF;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.alert-warning {
  background-color: #D9E7EE;
  color: #000;
  border-radius: 0;
  max-width: 800px;
  border-color: transparent;
  margin: 0;
  padding: 1.3em!important;
}
.alert {
  border-radius: 0;
}
.alert-info {
  background-color: #FFF1CB;
}
.table.table-striped > tbody > tr {
  height: 16.6em;
  border: 0;
  border-bottom: 30px solid #FFF;
  background: #D9E7EE;
}
.table.table-striped > tbody > tr:nth-child(1) {
  height: 15.3em;
}
.arrow-down#blue {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #14364c;
  position: relative;
  float: right;
  margin: 0;
}
.table.table-striped {
  position: relative;
}
.table.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: transparent;
}
.table.table-striped > tbody > tr > td {
  position: absolute;
  margin: 1.3em;
}
table.table.table-striped.table.table-striped tr > td {
  border-top: 0;
  border-right: 0;
  padding: 1em 1.3em;
}
.arrow-down#light_blue {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #D9E7EE;
  float: right;
  margin: 0 7em 1.3em 0;
}
.skts-label-mobil {
  background-color: #D9E7EE;
  margin: 0;
  padding: 20px;
}
.form-control {
  font-size: 26px;
  font-weight: 300;
  color: #000;
  border-radius: 0;
  border: none;
  height: 74px;
  width: 100%;
  text-align: right;
  margin: 0 auto;
}
.date-picker-control:link,
.date-picker-control:visited {
  background-image: url(../images/date_picker.png);
  top: 1.3em;
  right: 2.2em;
  background-position: 0 0;
  width: 53px;
  height: 55px;
  background-size: 59%;
}
.date-picker-button-active:link,
.date-picker-control:focus,
.date-picker-control:hover,
.date-picker-control:active {
  opacity: 0.6;
}
.skts-postfix-mobil:after,
.skts-postfix-mobil-form:after,
.skts-postfix-mobil-kvittering:after {
  content: ',00 kr.';
  font-size: 26px;
  font-weight: 400;
  top: .66em;
  color: #bebebe;
  right: 1.6em;
  position: absolute;
}
.skts-postfix-mobil-form input[type='text'] {
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  color: #000;
  border-right: 1px solid #a2a2a2;
  border-bottom: 1px solid #a2a2a2;
  margin: 1em;
  padding: 1.3em 4.5em 1.3em 0;
}
.skts-postfix-mobil,
.skts-postfix-mobil-form input[type='text'] {
  text-align: right;
  padding-right: 3.7em;
}
.btn.btn-primary {
  background: linear-gradient(135deg, #ffc200 40%, #ff8500 100%) /*; #ffc61e*/;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  border: 0;
  color: #000;
  text-decoration: none;
  font-weight: 300;
  border-radius: 0;
  margin: 2.3em 0;
  padding: 20px 60px;
  display: inline-block;
}
.btn.btn-primary:hover {
  background: #FF5C00;
  color: #000;
}
.btn.btn-default,
.btn-default {
  background: #DFDFDF;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  border: none;
  margin: 2.3em 0;
  padding: 20px;
  border-radius: 0;
}
.btn.btn-default:hover {
  background-image: none!important;
  background: #BABABA;
}
.skts-postfix-mobil-kvittering {
  border-bottom: 4px double;
  text-align: right;
  margin: 3em 0;
}
.skts-postfix-mobil-kvittering span {
  font-size: 26px;
  font-weight: 400;
}
.skts-postfix-mobil-kvittering:after {
  float: right;
  color: #000;
}
.btn.btn-default.skts-mobil-btn-tilbage-kvittering {
  color: #3f6075;
  margin-top: 1.2em;
  float: right;
  background: none;
  border: none;
  text-decoration: underline;
}
.panel-title > a {
  width: 100%;
  display: block;
  font-weight: 400;
}
.panel-group .panel {
  border-radius: 0;
  margin: 0 1.3em;
}
.panel-default {
  border-top: #14364c 1px solid;
  border-right: #14364c 2px solid;
  border-bottom: #14364c 2px solid;
  border-left: #14364c 1px solid;
}
.panel-default > .panel-heading {
  color: #14364c;
  background-color: #FFF;
  border-radius: 0;
  border-color: #14364c;
  padding: 1.3em;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #FFF;
  background: #FFF;
}
.skts-logo {
  background-image: url(../images/skat-logo_white.svg);
}
.skts-print-icon,
.skts-print-icon {
  display: none!important;
}
.skts-loading span {
  top: 58%;
}
.skts-spinner {
  top: 50%;
}
.navbar-default .navbar-toggle .icon-bar,
.panel {
  background-color: #FFF;
}
footer {
  display: none;
}
.skts-postfix-mobil-kvittering:before,
.skts-postfix-mobil:before,
.skts-postfix-mobil-kvittering-momskvt:before,
.skts-postfix-mobil-momskvt:before {
  content: 'I alt';
  font-size: 26px;
  margin-left: -0.3em;
  font-weight: 400;
  float: left;
}
div[data-skat-taglib="skat:fieldSet"] {
  background: #D9E7EE;
  padding: 1.3em;
}
.skts-input-info select {
  padding-left: 0;
}
.skts-postfix-kr:after {
  content: 'kr.';
  right: 1em;
  font-size: 26px;
  top: 0.7em;
}
.skts-postfix-kr input[type=text] {
  padding-right: 2.5em;
}
@media (max-width: 991px) {
  .table.table-striped {
    margin-top: 0;
  }
}
@media (max-width: 800px) {
  .table.table-striped {
    margin-top: 0;
  }
}
@media (max-width: 450px) {
  .btn.btn-primary {
    margin-right: 1.3em;
  }
  .btn.btn-default,
  .btn-default {
    margin-left: 1.3em;
  }
  .skts-postfix-kr:after {
    right: 0.8em;
  }
  .date-picker-control:link,
  .date-picker-control:visited {
    right: 1em;
  }
  h2,
  h3,
  p,
  li {
    padding: 0 1.3em;
  }
  h1 {
    padding: 0 .5em;
  }
  .breadcrumb {
    padding: 20px;
  }
  .breadcrumb > li {
    padding: 0;
  }
}
@media (max-width: 370px) {
  .btn.btn-primary {
    padding: 20px !important;
  }
  .btn.btn-default,
  .btn-default {
    padding: 20px 10px;
  }
  a.skts-toggle-section {
    background: url(../images/not-selected-icon.svg) no-repeat 1em 1.7em #D9E7EE;
    padding: 0.65em 1.3em;
    text-indent: 2.5em;
  }
  a.skts-toggle-section:hover {
    background: url(../images/not-selected-icon.svg) no-repeat 1em 1.7em #8DBAD0;
  }
  a.skts-toggle-section.selected {
    background: url(../images/selected-icon.svg) no-repeat 1.4em 2em #D9E7EE;
    padding: 0.65em 1.3em;
    text-indent: 2.5em;
  }
  a.skts-toggle-section.selected:hover {
    background: url(../images/selected-icon.svg) no-repeat 1.4em 2em #8DBAD0;
  }
}
